// html{
//   scroll-behavior: smooth;
// }

body {
  background: $body-color;
}

.section-title{
  margin-bottom: 70px;
  @include desktop{
    text-align: center;
  }
  h2{
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 15px;
    @include desktop{
      font-size: 40px;
    }
  }
  p{
    font-size: 20px;
    font-weight: 300;
  }
  &-letter{
    margin-bottom: 0px;
    @include desktop{
      text-align: center;
    }
    h2{
      font-weight: 300;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: 15px;
      @include desktop{
        font-size: 40px;
      }
    }
    p{
      font-size: 20px;
      font-weight: 300;
    }
  }
}

form{
  .form-group{
    margin-bottom: 60px;
    textarea{
      border-top: thin solid $primary-color;
      &:focus{
        border-top-color: $text-color;
      }
    }
  }
  .form-control{
    background: transparent;
    border-radius: 0;
    margin-bottom: 30px;
    padding: 0 0 0 0;
    border-width: 0 0 1px 0;
    border-color: $primary-color;
    font-weight: 300;
    letter-spacing: 1px;

    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    
    height: 42px;
    vertical-align: center;
    &:focus{
      box-shadow: none;
      background: transparent !important;
      border-color: $text-color;
    }
  }
}

select.form-control{
  height: 42px !important;
  position: relative;
}

.select-wrapper{
  position: relative;
  &::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 10px;
    background: none;
    background-size: contain;
    background-repeat: no-repeat;
    right: 15px;
    top: 50%;
    transform: translateY(-80%);
  }
}

textarea.form-control{
  height: auto;
}

span.blockable{
  display: inline-block;
}

div.highlight{
  margin-bottom: 30px;
  code{
    padding-left: 10px;
  }
}

.twitter-mention-button{
  width: 200px !important;
}

.table-of-contents{
  details{
    summary{
      outline:none;
    }
    ul{
      list-style: none;
      table-layout: auto;
      display: flex;
      align-items: left !important;
      -webkit-align-items: left !important;
      justify-content: flex-start !important;
      -webkit-justify-content: flex-start !important;
      flex-direction: column;
      margin: 0;
      margin-left: 0px;
      margin-right: auto;
      padding: 20px 0 0 0;
      ul{
        padding: 0;
        margin-left: 50px;
        @include mobile{
          margin-left: 25px;
        }
        li{
          a{
            font-size: 0.8rem;
          }
        }
      }
      li{
        text-align: left;
        float: left;
        margin: 0;
        padding: 0;
        span.tree{
          &-branch{
            position: relative;
            top: 2px;
          }
        }
        a{
          padding: 8px 32px 8px 32px;
          transition: all .3s ease;
          color: $text-color;
        }
      }
    }
  }
}
