//site color variables
$body-color: #F1F6F1;
$primary-color: #ff8080;
$secondary-color: #321616;
$text-color: #808080;
$text-color-dark: #321616;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$gray: #efefef;
$dark-gray: #808080;

// solid colors
$white: #F1F6F1;
$black: #321616;

// Font Variables
$primary-font: 'Noto Sans Japanese', 'Josefin Sans', 'Yu Gothic Medium', '游ゴシック Medium', YuGothic, '游ゴシック体' , Arial ,sans-serif;
$secondary-font: 'Montserrat', 'Segoe UI', sans-serif;
