@charset "utf-8";

@font-face {
    font-family: "Megrim";
    src: 
        url("/font/Megrim-Regular.woff2") format("woff2"),
        url("/font/Megrim-Regular.woff") format("woff"),
        url("/font/Megrim-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Sans";
    src: 
        url("/font/NotoSansJP-Regular.woff2") format("woff2"),
        url("/font/NotoSansJP-Regular.woff") format("woff"),
        url("/font/NotoSansJP-Regular.otf") format("opentype");
}

:root{
    --bs-dark: #212529;
    --bs-light: #f8f9fa;
    --bs-gray: #dee2e6;
    --bs-danger: #dc3545;

    --container-line-x-count: 5;
    --container-line-y-count: 7;
    --container-line-x-weight: calc(100vw / var(--container-line-x-count));
    --container-line-y-weight: calc(var(--vh, 100vh) / var(--container-line-y-count));
    
    --container-hidden-weight: 1.5em;
    --container-ribbon-weight: calc(var(--container-line-y-weight) / 8);
    --container-ribbon-weight-show: calc(var(--container-hidden-weight) * 2);
    
    --grid-gutter: 0.125em;
    
    --bs-font-monospace: Megrim,"Noto Sans",SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: "Noto Sans",Roboto,system-ui,-apple-system,"Segoe UI","Helvetica Neue",Arial,"Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

@media (prefers-color-scheme: dark) { 
    :root{
        --bs-dark: #f8f9fa;
        --bs-light: #212529;
        --bs-gray: #343a40;
        --bs-danger: #ffc107;
    }
}

html, body {
    color: var(--bs-dark);
    height: 100%;
    margin: 0;
}

body{
    overflow: hidden;
    font-family: var(--bs-gradient);
}

article{
    visibility: hidden;
}

.bg-light{
    background-color: var(--bs-light) !important;
}

.bg-dark{
    background-color: var(--bs-dark) !important;
}