@charset "utf-8";
@import "mixin.scss";
@import "line/line.scss";
@import "line/navigation.scss";
@import "line/ribbon.scss";
@import "line/title.scss";
@import "content/content.scss";
@import "content/hero.scss";

#portfolio-background{
    display: inline-block;
    visibility: visible;
    position: absolute;
    
    padding-left: calc(var(--container-hidden-weight) + var(--grid-gutter));
    padding-right: calc(var(--container-hidden-weight) + var(--grid-gutter));
    padding-top: calc(var(--grid-gutter) + var(--container-line-y-weight));
    padding-bottom: calc(var(--grid-gutter) + var(--container-line-y-weight));

    &>div{
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 100%;
    }
}

main:not([data-page-number="99"]) {
    #portfolio-background{
        transition: height 0.4s ease-in-out 0.8s, width 0.4s ease-in-out 0.2s, padding 0.4s ease-in-out 0.8s;
        width: 0;
        height: 0;
        padding: 0;
    }
}

main[data-page-number="99"] {
    #portfolio-background {
        transition: height 0.4s ease-in-out 0.8s, width 0.4s ease-in-out 0.2s;
        width: calc(var(--container-line-x-weight) * var(--container-line-x-count));
        height: calc(var(--container-line-y-weight) * var(--container-line-y-count));
    }
    .line-x {
        width: var(--container-hidden-weight) !important;
    }
    .container-ribbon{
        border: 0px solid var(--bs-dark) !important;
    }
}
