@charset "utf-8";
@import "mixin.scss";
@import "line/line.scss";
@import "line/navigation.scss";
@import "line/ribbon.scss";
@import "line/title.scss";
@import "content/content.scss";
@import "content/hero.scss";

#portfolio-background{
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    height: 100%;
    text-align: center;
    padding-top: 50%;
    &>h1{
        color: #f8f9fa;
    }
}