<!-- SITE HERO -->
<article id="page-1" class="h-100 w-100 bg-dark" data-content-length="1324142314" data-navigation-length="111111">
  <div class="line line-x line-left line-left-1 length-1 line-hidden" onclick="changePage('2')">
    <div class="bg-light">
      <div class="container-title">
        <h1>HOME PAGE OF WORKS PROD BY NS</h1>
      </div>
      <div class="container-ribbon bg-light h-100"></div>
    </div>
  </div>
  <div class="line line-x line-left line-left-2 length-1 line-hidden" onclick="changePage('2')">
    <div class="bg-light">
      <div class="container-title">
        <h1>HOME PAGE OF WORKS PROD BY NS</h1>
      </div>
      <div class="container-ribbon bg-light h-100"></div>
    </div>
  </div>
  <div class="line line-x line-left line-left-3 length-1 line-hidden" onclick="changePage('2')">
    <div class="bg-light">
      <div class="container-title">
        <h1>HOME PAGE OF WORKS PROD BY NS</h1>
      </div>
      <div class="container-ribbon bg-light h-100"></div>
    </div>
  </div>
  <div class="line line-x line-left line-left-4 length-1 line-hidden" onclick="changePage('2')">
    <div class="bg-light">
      <div class="container-title">
        <h1>HOME PAGE OF WORKS PROD BY NS</h1>
      </div>
      <div class="container-ribbon bg-light h-100"></div>
    </div>
  </div>
  <div class="line line-x line-left line-left-5 length-1 line-hidden" onclick="changePage('2')">
    <div class="bg-light">
      <div class="container-title">
        <h1>HOME PAGE OF WORKS PROD BY NS</h1>
      </div>
      <div class="container-ribbon bg-light h-100"></div>
    </div>
  </div>
  <div class="line line-x line-right line-right-2 length-1 line-hidden" onclick="changePage('2')">
    <div class="bg-light">
      <div class="container-title">
        <h1>PAGE OF WORKS PROD BY NS</h1>
      </div>
      <div class="container-ribbon bg-light h-100"></div>
    </div>
  </div>
  <div class="line line-x line-right line-right-3 length-1 line-hidden" onclick="changePage('2')">
    <div class="bg-light">
      <div class="container-title">
        <h1>PAGE OF WORKS PROD BY NS</h1>
      </div>
      <div class="container-ribbon bg-light h-100"></div>
    </div>
  </div>
  <div class="line line-x line-right line-right-4 length-1 line-hidden" onclick="changePage('2')">
    <div class="bg-light">
      <div class="container-title">
        <h1>PAGE OF WORKS PROD BY NS</h1>
      </div>
      <div class="container-ribbon bg-light h-100"></div>
    </div>
  </div>
  <div class="line line-x line-right line-right-5 length-1 line-hidden" onclick="changePage('2')">
    <div class="bg-light">
      <div class="container-title">
        <h1>PAGE OF WORKS PROD BY NS</h1>
      </div>
      <div class="container-ribbon bg-light h-100"></div>
    </div></div>
  <div class="line line-x line-right line-right-6 length-1 line-hidden" onclick="changePage('2')">
    <div class="bg-light">
      <div class="container-title">
        <h1>PAGE OF WORKS PROD BY NS</h1>
      </div>
      <div class="container-ribbon bg-light h-100"></div>
    </div>
  </div>
  <div id="site-hero-overlay" class="line">
    <div id="comments">
      <div class="row g-0 balloon parent">
        <div class="col-3 col-xl-2 ps-md-5">
          <div class="image">
            <img src="https://avatars1.githubusercontent.com/u/61147776"/>
          </div>
        </div>
        <div class="col-9 col-xl-10">
          <div class="says">
            <p>こんにちは !</p>
          </div>
        </div>
      </div>
      <div class="row g-0 balloon child">
        <div class="col-3 col-xl-2 ps-md-5">
          <div class="image">
            <img src="https://avatars1.githubusercontent.com/u/61147776"/>
          </div>
        </div>
        <div class="col-9 col-xl-10">
          <div class="says">
            <p>このサイトの使い方を説明します</p>
          </div>
        </div>
      </div>
      <div class="row g-0 balloon parent">
        <div class="col-3 col-xl-2 ps-md-5">
          <div class="image">
            <img src="https://avatars1.githubusercontent.com/u/61147776"/>
          </div>
        </div>
        <div class="col-9 col-xl-10">
          <div class="says">
            <p>このサイトの各ページには</p>
          </div>
        </div>
      </div>
      <div class="row g-0 balloon child">
        <div class="col-3 col-xl-2 ps-md-5">
          <div class="image">
            <img src="https://avatars1.githubusercontent.com/u/61147776"/>
          </div>
        </div>
        <div class="col-9 col-xl-10">
          <div class="says">
            <p>タイルが敷き詰められていて</p>
          </div>
        </div>
      </div>
      <div class="row g-0 balloon parent">
        <div class="col-3 col-xl-2 ps-md-5">
          <div class="image">
            <img src="https://avatars1.githubusercontent.com/u/61147776"/>
          </div>
        </div>
        <div class="col-9 col-xl-10">
          <div class="says">
            <p>クリックすると動きます。</p>
          </div>
        </div>
      </div>
      <div class="row g-0 balloon child">
        <div class="col-3 col-xl-2 ps-md-5">
          <div class="image">
            <img src="https://avatars1.githubusercontent.com/u/61147776"/>
          </div>
        </div>
        <div class="col-9 col-xl-10">
          <div class="says">
            <p>試しにここを</p>
          </div>
        </div>
        <div class="tutorial-arrow" onclick="closeTutorial(document.getElementById('site-hero-overlay'));toggleShow(document.getElementById('line-top-2'))">
          <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-arrow-up" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
          </svg>
        </div>
      </div>
      <div class="row g-0 balloon child">
        <div class="col-3 col-xl-2 ps-md-5">
          <div class="image">
            <img src="https://avatars1.githubusercontent.com/u/61147776"/>
          </div>
        </div>
        <div class="col-9 col-xl-10">
          <div class="says">
            <p>クリックしてみましょう !</p>
          </div>
        </div>
      </div>
    </div>
    <div id="buttons">
      <div class="pulse-btn" onclick="showTutorial(document.getElementById('site-hero-overlay'));event.stopPropagation()">
        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-question-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
        </svg>
      </div>
    </div>
  </div>
</article>