
.site-aboutus{
  padding: 120px 0;
  color: $white;
  background: $primary-color;
  .section-title{
    margin-bottom: 40px;
  }
  &-cta{
    margin-top: 30px;
    display: inline-block;
    position: relative;
    font-family: $secondary-font;
    font-size: 18px;
    font-weight: 500;
    color: $white;
    &::before{
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      background: $white;
      bottom: -2px;
      transition: transform 0.3s $site-ease;
      transform-origin: right;
      transform: scaleX(0);
    }
    &:hover{
      color: $white;
      text-decoration: none;
      &::before{
        transform: scaleX(1);
        transform-origin: left;
      }
    }
    &-min{
      color: $white;
      margin-top: 0px;
      font-size: 16px;
      text-decoration: none;
      &:hover{
        color: $white;
        text-decoration: border $white;
      }
    }
  }
}