
.post-after {
  position: relative;
  bottom: 10px;
  right: -8%;
  z-index: -10;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid #f2efe8;
  border-radius: 25px;
}
.post-after.even {
  left: 6%;
}
