
@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700|Montserrat:300,400,500,600,700&display=swap');



.site-hero{
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  @include desktop{
    height: auto;
    padding: 200px 0;
  }
  @include desktop-lg{
    height: 100vh;
    padding: 150px 0;
  }
  @include mobile{
    height: 100vh;
    padding: 150px 0;
  }
  &-sustain{
    div{
      position: static;
      background-color: $secondary-color;
      height: 0px;
      margin: 0px;
      top: 0px;
      width: 100%;
      @include desktop{
      }
      @include desktop-lg{
        height: 110px;
      }
      @include mobile{
        height: 110px;
      }
    }
    &-high{
      @include mobile{
        height: 64px;
      }
    }
  }
  &-content{
    @include mobile{
      margin-top: 150px;
    }
    @include desktop-lg{
      margin-top: 150px;
    }
    h1{
      // font-family: 'Elsie Swash Caps', 'Montserrat', 'Segoe UI', sans-serif;
      font-size: 128px;
      color: white;
      mix-blend-mode: multiply;
      text-shadow: 
        7px 11px 0 $black, 
        6px 10px 0 $black,
        5px  9px 0 $black, 
        4px  8px 0 $black, 
        3px  7px 0 $black, 
        2px  6px 0 $black, 
        1px  5px 0 $black;
      font-weight: 900;
      animation: fadeIn 2.5s linear forwards;
      letter-spacing: -4px;
      border-radius: 20px;
      padding-top: 92px;
      &::selection {
        background: transparent;
      }
      span{
        // ":"の位置調整
        bottom: 12px !important;
        &::selection {
          background: transparent;
        }
      }
      @include desktop-lg{
        font-size: 92px;
        letter-spacing: -4px;
        padding-top: 0px;
        span{
          bottom: 8px !important;
        }
      }
    }
    h5{
      color: $primary-color;
      opacity: 0.7;
      margin-bottom: 18vh;
      &::selection {
        display: none;
      }
      @include desktop-lg{
        margin-bottom: 18vh;
      }
    }
    &-buttons{
      margin: 0;
      padding: 0;
      li{
        display: inline-block;
        @include mobile{
          display: block;
        }
        &:not(:last-child){
          margin-right: 30px;
          @include mobile{
            margin-right: 0;
            margin-bottom: 20px;
          }
        }
        .btn{
          font-weight: 600;
          @include mobile{
            width: 90%;
            margin: 0 auto;
            display: block;
          }
        }
      }
    }
  }
  &-scroll{
    position: absolute;
    left: 50%; bottom: 70px;
    transform: translateX(-50%);
  }
}