.site-hero{
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  @include desktop{
    height: auto;
    padding: 200px 0;
  }
  @include mobile{
    height: 90vh;
    padding: 150px 0;
  }
  &-sustain{
    div{
      position: static;
      background-color: $secondary-color;
      height: 0px;
      margin: 0px;
      top: 0px;
      width: 100%;
      @include desktop{
      }
      @include desktop-lg{
        height: 110px;
      }
      @include mobile{
        height: 110px;
      }
    }
    &-high{
      @include mobile{
        height: 150px;
      }
    }
  }
  &-content{
    h1{
      @import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@900&display=swap');
      font-family: 'Elsie Swash Caps', cursive;
      font-size: 128px;
      color: #A19490;
      text-shadow: 0 8px 9px $black, 0px -2px 1px $white;
      font-weight: 400;
      letter-spacing: -4px;
      border-radius: 20px;
      padding-top: 92px;
      span{
        // ":"の位置調整
        bottom: 12px !important;
      }
      @include desktop-lg{
        font-size: 92px;
        color: #A19490;
        text-shadow: 0 8px 9px $black, 0px -2px 1px $white;
        font-weight: 400;
        letter-spacing: -4px;
        border-radius: 20px;
        padding-top: 0px;
        span{
          bottom: 8px !important;
        }
      }
      @include mobile{
        font-size: 92px;
        color: #A19490;
        text-shadow: 0 8px 9px $black, 0px -2px 1px $white;
        font-weight: 400;
        letter-spacing: -4px;
        border-radius: 20px;
        padding-top: 0px;
        span{
          bottom: 8px !important;
        }
      }
    }
    h6{
      margin-bottom: 75px;
      @include desktop-lg{
        margin-bottom: 150px;
      }
    }
    &-buttons{
      margin: 0;
      padding: 0;
      li{
        display: inline-block;
        @include mobile{
          display: block;
        }
        &:not(:last-child){
          margin-right: 30px;
          @include mobile{
            margin-right: 0;
            margin-bottom: 20px;
          }
        }
        .btn{
          font-weight: 600;
          @include mobile{
            width: 90%;
            margin: 0 auto;
            display: block;
          }
        }
      }
    }
  }
  &-scroll{
    position: absolute;
    left: 50%; bottom: 70px;
    transform: translateX(-50%);
  }
}