@media screen and (min-width:0px){
  .verovio-content{
    border: 1px solid #ffefef;
    min-height: 800px;
  }
  .vrv-ui-wrapper .vrv-ui-toolbar {
    width: 100%;
    overflow: auto;
    background: #ff8080;
    min-height: 36px;
  }
}
@media screen and (max-width:1024px){
}