<!-- PORTFOLIO -->
<article id="page-99" class="h-100 w-100 bg-dark" data-content-length="1111111111" data-navigation-length="111111">
  <div id="portfolio-background" class="">
      <h1>portfolio</h1>
  </div>
  <div class="line line-x line-left line-left-1 length-1 line-hidden" onclick="changePage('1')"><div class="bg-light"><div class="container-ribbon bg-light h-100"></div></div></div>
  <div class="line line-x line-left line-left-2 length-1 line-hidden" onclick="changePage('1')"><div class="bg-light"><div class="container-ribbon bg-light h-100"></div></div></div>
  <div class="line line-x line-left line-left-3 length-1 line-hidden" onclick="changePage('1')"><div class="bg-light"><div class="container-ribbon bg-light h-100"></div></div></div>
  <div class="line line-x line-left line-left-4 length-1 line-hidden" onclick="changePage('1')"><div class="bg-light"><div class="container-ribbon bg-light h-100"></div></div></div>
  <div class="line line-x line-left line-left-5 length-1 line-hidden" onclick="changePage('1')"><div class="bg-light"><div class="container-ribbon bg-light h-100"></div></div></div>
  <div class="line line-x line-right line-right-2 length-1 line-hidden" onclick="changePage('1')"><div class="bg-light"><div class="container-ribbon bg-light h-100"></div></div></div>
  <div class="line line-x line-right line-right-3 length-1 line-hidden" onclick="changePage('1')"><div class="bg-light"><div class="container-ribbon bg-light h-100"></div></div></div>
  <div class="line line-x line-right line-right-4 length-1 line-hidden" onclick="changePage('1')"><div class="bg-light"><div class="container-ribbon bg-light h-100"></div></div></div>
  <div class="line line-x line-right line-right-5 length-1 line-hidden" onclick="changePage('1')"><div class="bg-light"><div class="container-ribbon bg-light h-100"></div></div></div>
  <div class="line line-x line-right line-right-6 length-1 line-hidden" onclick="changePage('1')"><div class="bg-light"><div class="container-ribbon bg-light h-100"></div></div></div>
</article>