<div class="content-footer mt-3">
    <div class="row">
        <div class="col-12">
            <hr/>
        </div>
        {{ if (isset .Params "authors") | and (not (eq .Params.authors "")) }}
            <div class="col-12 mb-2">
                <div>
                    <h2>AUTHORS</h2>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                {{ range .Params.authors }}
                    <div class="row mb-3" onclick="location.href='{{ .url }}'">
                        <div class="col-5 col-md-4 col-xl-2">
                            <div class="image">
                                <img src="{{ .icon_image }}" style="border-radius: 50% 50% 50% 50%">
                            </div>
                        </div>
                        <div class="col-7 col-md-8 col-xl-10">
                            <h4 class="mb-1">{{ .name | safeHTML }}</h4>
                            <div class="text-muted mb-3">{{ .profession | safeHTML }}</div>
                            <div class="mb-1">{{ .description | safeHTML }}</div>
                            <div class="mb-1"><a href="{{ .url }}" target="_blank" rel="noopener norefferer">profile</a></div>
                        </div>
                    </div>
                {{ end }}
                </div>
            </div>
            <div class="col-12">
                <hr/>
            </div>
        {{ end }}
        <div class="col-12 mb-2">
            <div>
                <h2>MORE...</h2>
            </div>
        </div>
        <div class="col-12 content-footer-content">
            <div class="row">
                <a class="col-12 col-sm-6 col-xl-3 mb-2" href="/">HOME</a>
            </div>
            <div class="row">
                <a class="col-12 col-sm-6 col-xl-3 mb-2" href="/?page=0&content=1">WORKS</a>
            </div>
            <div class="row">
                <a class="col-12 col-sm-6 col-xl-3 mb-2" href="/?page=0&content=2">BLOGS</a>
            </div>
        </div>
    </div>
</div>