
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div>
                    <h2>SITEMAP</h2>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3" onclick="location.href='/?page=0&content=0'">
                <div class="card w-100 mb-2 bg-light">
                    <div class="card-body">
                        <h5 class="card-title">ABOUT</h5>
                        <p class="card-text">サイトの概要説明と製作者の情報を掲載しています。</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3" onclick="location.href='/?page=0&content=1'">
                <div class="card w-100 mb-2 bg-light">
                    <div class="card-body">
                        <h5 class="card-title">WORKS</h5>
                        <p class="card-text">制作物の情報を掲載しています。</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3" onclick="location.href='/?page=0&content=2'">
                <div class="card w-100 mb-2 bg-light">
                    <div class="card-body">
                        <h5 class="card-title">BLOGS</h5>
                        <p class="card-text">製作ブログを掲載しています。</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3" onclick="location.href='/?page=0&content=3'">
                <div class="card w-100 mb-2 bg-light">
                    <div class="card-body">
                        <h5 class="card-title">RECENTLY</h5>
                        <p class="card-text">最近の情報を掲載しています。</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3" onclick="location.href='/?page=0&content=5'">
                <div class="card w-100 mb-2 bg-light">
                    <div class="card-body">
                        <h5 class="card-title">CONTACT</h5>
                        <p class="card-text">このサイトや製作物の問い合わせができます。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
