
{{ define "main" }}
  <section class="site-hero-sustain"><div></div></section>
  <section class="site-project-single-header">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-8 mx-auto">
          <div class="site-project-single-header-content">
            <h1>
              {{ .Title | safeHTML }}
            </h1>
            {{ partial "tableofcontents.html" . }}
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="site-project-single-section" id="aboutus">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <div class="site-project-single">
            <div class="site-project-single-description">
              {{ with .Site.Params.aboutus }}
                <h4>
                  DESCRIPTION
                </h4>
                <p>
                  {{ .description_en | safeHTML }}
                  {{ .description | safeHTML }}
                </p>
              {{ end }}
              {{ .Content }}
              {{ partial "authors.html" . }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ partial "contacts.html" . }}
{{ end }}
