@charset "utf-8";

.line{
    &.line-show .scroll{
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
        pointer-events: auto !important;
    }

    &.line-show .scroll::-webkit-scrollbar{
        display: none;
    }

    --content-text-transition: 
        width 0.2s ease-in-out 0.2s, 
        height 0.2s ease-in-out 0.2s, 
        padding 0.2s ease-in-out 0.2s, 
        text-align 0.2s ease-in-out 0.2s, 
        font-size 0.2s ease-in-out 0.2s;
    
    .container-content{
        height: 25vh;
        width: 50vw;
        position: absolute;
        white-space: nowrap;
        transition: 
            var(--content-text-transition), 
            margin-top 0.2s ease-in-out 0.2s, 
            color 0.2s ease-in-out 0.2s;
        
        &>*{
            pointer-events: none;
        }
        
        h2, h3, h4, h5, h6, img, table, .highlight{
            display: none;
        }

        a{
            color: var(--bs-dark);
        }

        iframe{
            visibility: hidden !important;
        }
        
        p{
            white-space: nowrap;
            margin-block-start: 0em;
            margin-block-end: 0em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
        }
    }

    &.line-hidden .container-content{
        height: 0px;
        width: 0px;
        overflow: hidden;
        &>*{
            pointer-events: none;
        }
    }
    
    &.line-show .container-content{
        margin-top: 25vw;
        height: auto;
        width: 100%;
        white-space: normal;
        transition: 
            var(--content-text-transition), 
            margin-top 0.2s ease-in-out 0.8s, 
            color 0.2s ease-in-out 0.6s;
        
        *{
            pointer-events: auto !important;
        }

        h2, h3, h4, h5, h6, table, .highlight{
            display: block;
        }

        img{
            display: inline-block;
        }

        a{
            color: var(--bs-danger);
        }

        iframe.twitter-mention-button{
            visibility: visible !important;
            width: 100% !important;
            height: 2rem !important;
        }
        .twitter-timeline iframe{
            visibility: visible !important;
            width: 100% !important;
            height: 40rem !important;
            border-bottom: 1px solid var(--bs-gray);
        }
        
        p{
            white-space: normal;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
        }
    }
}

footer, header{
    .container-content{
        transition: all 0.2s ease-in-out 0.6s;
    }

    .line-show .container-content{
        padding-left: 18vw;
    }

    :not(.line-show) .container-content{
        width: 0px;
        height: 0px;
        overflow: hidden;
        transition: all 0.2s ease-in-out 0.6s;
    }
}

footer .line-show .container-content{
    margin-top: calc(var(--container-ribbon-weight-show) + 1rem) !important;
    padding-left: 15vw !important;
}

header .line-show .container-content{
    margin-top: calc(var(--container-line-y-weight) / 4) !important;
    padding-left: 15vw !important;
}

#contacts-form{
    text-align: right;
}

.image{
    width: 100%;
    height: auto;
    text-align: center !important;
    margin-bottom: 1rem;
}

@media screen and (min-width:0px){
    .line{
        &.line-show .scroll{
            padding-left: 3%;
            .container-content{
                padding-left: 0%;
                width: 95%;
            }
        }
    }
    
    .image{
        img{
            width: 100%;
        }
    }
}

@media screen and (min-width:830px){
    .line{
        &.line-show .scroll{
            padding-left: 3%;
            .container-content{
                margin-top: 16vh;
                padding-left: 10%;
                width: 80%;
            }
        }
    }

    .image{
        text-align: left;
        img{
            width: 80%;
            max-width: 30rem;
        }
    }
}

.card{
    border-color: var(--bs-dark);
}

.content-footer-content{
    height: 50vh;
}

.line-right .content-footer-content{
    text-align: right;
}
