
{{ define "main" }}
  <section class="site-hero-sustain"><div></div></section>
  <section class="site-project-header">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-8">
          <div class="site-project-header-content">
            <h1>
              {{ .Title | safeHTML }}
            </h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ partial "form.html" . }}
  <section class="site-contacts" id="contacts">
    <div class="container">
      <div class="row">
        <div class="col-12">
          {{ with .Site.Params.contacts }}
            <div class="section-title">
              <h2 class="text-white">OR ...</h2>
              <p class="text-white">{{ .subtitle }}</p>
            </div>
          {{ end }}
        </div>
        <div class="col-12">
        </div>
        <div class="col-lg-12 col-md-10 mx-auto">
          <ul class="follow-me">
            {{ with .Site.Params.footer.social }}
              {{ range .link }}
                <li><a href="{{ .url }}"></a></li>
              {{ end }}
            {{ end }}
          </ul>
        </div>
      </div>
      <br>
    </div>
  </section>
{{ end }}
