

{{ $target_type := .target_type }}
<section class="site-project">
    <div class="container">
        <div class="col-12">
            <div>
                <h2>{{ printf (upper $target_type) | safeHTML }}S</h2>
            </div>
        </div>

        {{ $pages := .self.Site.RegularPages }}
        {{ $first_page := 2 }}
        {{ $line_counts := 10 }}
        {{ $page_counts := len $pages }}

        <div class="row">
            {{ range $index, $page := $pages }}
                {{/*  線のカウント  */}}
                {{$line_num := add (mod $index $line_counts) 1}}
                {{$line_num_string := string $line_num}}
                {{$page_num := add (div (sub $index (mod $index $line_counts)) $line_counts) $first_page}}
                {{$page_num_string := string $page_num}}

                {{/*  長さの取得  */}}
                {{$data_content_length := index .Site.Params.main.data_content_length (sub $page_num $first_page)}}
                {{$data_navigation_length := index .Site.Params.main.data_navigation_length (sub $page_num $first_page)}}

                {{/*  URLの定義  */}}
                {{$content_url := printf "/?page=%[1]s&content=%[2]s" $page_num_string $line_num_string}}
                
                {{ if eq $page.Type $target_type}}
                    <div class="col-12 col-sm-6 col-xl-3" onclick="location.href='{{ $content_url }}'">
                        <div class="card w-100 mb-2 bg-light">
                            <div class="card-body">
                                <h5 class="card-title">{{ $page.Title }}</h5>
                                <h6 class="card-subtitle mb-2">{{ delimit $page.Params.category ", " }}</h6>
                                <p class="card-text">{{ $page.Params.description }}</p>
                                <a class="card-link" href="{{ $content_url }}">show details ...</a>
                            </div>
                        </div>
                    </div>
                {{ end }}
            {{ end }}
        </div>
    </div>
</section>
