<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> {{ page.title }} </title>
    <link href="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.js"></script>
  </head>
  <body>
    <div class="root">
      <div class="page-container">
        <!--
          ヘッダを作っている
        -->
        <header class="mdc-top-app-bar drawer-top-app-bar" data-mdc-auto-init="MDCTopAppBar">
          <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
              <button class="mdc-icon-button material-icons mdc-top-app-bar__navigation-icon--unbounded">menu</button>
              <span class="mdc-top-app-bar__title"></span>
            </section>
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
              <button class="mdc-icon-button material-icons mdc-top-app-bar__action-item--unbounded" aria-label="Share">share</button>
            </section>
          </div>
        </header>
        <div class="drawer-list-panel">
          <!--
            drawerを定義
          -->
          <aside id="index-drawer" class="mdc-drawer mdc-drawer--modal index-drawer mdc-top-app-bar--fixed-adjust">
            <div class="mdc-drawer__content">
              <!--
                drawerの中身
              -->
              <nav class="mdc-list">
                <a class="mdc-list-item mdc-list-item--activated" href="#" aria-current="page">
                  <i class="material-icons mdc-list-item__graphic" aria-hidden="true">inbox</i>
                  <span class="mdc-list-item__text">Inbox</span>
                </a>
                <a class="mdc-list-item" href="#">
                  <i class="material-icons mdc-list-item__graphic" aria-hidden="true">star</i>
                  <span class="mdc-list-item__text">Star</span>
                </a>
                <a class="mdc-list-item" href="#">
                  <i class="material-icons mdc-list-item__graphic" aria-hidden="true">send</i>
                  <span class="mdc-list-item__text">Sent Mail</span>
                </a>
                <a class="mdc-list-item" href="#">
                  <i class="material-icons mdc-list-item__graphic" aria-hidden="true">drafts</i>
                  <span class="mdc-list-item__text">Drafts</span>
                </a>
          
                <hr class="mdc-list-divider">
                <h6 class="mdc-list-group__subheader">Labels</h6>
                <a class="mdc-list-item" href="#">
                  <i class="material-icons mdc-list-item__graphic" aria-hidden="true">bookmark</i>
                  <span class="mdc-list-item__text">Family</span>
                </a>
                <a class="mdc-list-item" href="#">
                  <i class="material-icons mdc-list-item__graphic" aria-hidden="true">bookmark</i>
                  <span class="mdc-list-item__text">Friends</span>
                </a>
                <a class="mdc-list-item" href="#">
                  <i class="material-icons mdc-list-item__graphic" aria-hidden="true">bookmark</i>
                  <span class="mdc-list-item__text">Work</span>
                </a>
              </nav>
            </div>
          </aside>
          <div class="mdc-drawer-scrim"></div>
        </div>
        <!--
          drawerで選択されるなどしたページの中身.
          "mdc-top-app-bar--fixed-adjust"がないとヘッダに埋もれる(呪文)
        -->
        <div id="main-content" class="drawer-content-panel mdc-top-app-bar--fixed-adjust">
          <div>
          {{ content }}
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    // ------------------------------------------------------------------------>
    // 初期化呪文
    mdc.autoInit();
    // ------------------------------------------------------------------------>
    mdc.ripple.MDCRipple.attachTo(document.querySelector(".hoge-button"));
    // ------------------------------------------------------------------------>
    // drawer(id: index-drawer)の設定
    const list = mdc.list.MDCList.attachTo(document.querySelector('.mdc-list'));
    list.wrapFocus = true;
    const drawer = new mdc.drawer.MDCDrawer.attachTo(document.querySelector('.mdc-drawer'));
    drawer.open = true;
    const topAppBar =  mdc.topAppBar.MDCTopAppBar.attachTo(document.querySelector('.mdc-top-app-bar'));
    topAppBar.setScrollTarget(document.getElementById('main-content'));
    topAppBar.listen('MDCTopAppBar:nav', () => {
      drawer.open = !drawer.open;
      console.log("")
    });
  </script>
</html>