<!-- Privacy Concent -->
<article id="page-98" class="h-100 w-100 bg-dark" data-content-length="1111111111" data-navigation-length="111111">
  {{/*  Start Concent  */}}
  <div id="privacy-background">
    <div class="bg-light">
      <div class="privacy-section bg-light">
        <div class="container pt-2">
          <h2 class="text-center">
            PRIVACY POLICY
          </h2>
          <hr/>
          <p>
            当ホームページの利用は、アクセスされた方において行われるものとします。
          </p>
          <p>
            当ホームページ及び当ホームページにリンクが設定されている
            他のウェブサイトから取得された各種情報の利用によって生じたあらゆる損害に関して、私たちは一切の責任を負いません。
          </p>
          <p>
            当サイトは法律の異なる全世界の国々からアクセスすることが可能ですが、
            当サイトにアクセスされた方および私たちの両者は、かかる法律原理の違いに関わらず、当サイトの利用に関して日本国の法律および大阪府の条例に拘束されることに同意するものとします。
          </p>
          <p class="text-center">
            <button class="btn btn-dark" onclick="location.reload();">CONTINUE ></button>
          </p>
        </div>
      </div>
    </div>
  </div>
  {{/*  End Concent  */}}
  <div class="line line-x line-left line-left-1 length-1 line-hidden" onclick="changePage('1')"><div class="bg-light"><div class="container-ribbon bg-light h-100"></div></div></div>
  <div class="line line-x line-left line-left-2 length-1 line-hidden" onclick="changePage('1')"><div class="bg-light"><div class="container-ribbon bg-light h-100"></div></div></div>
  <div class="line line-x line-left line-left-3 length-1 line-hidden" onclick="changePage('1')"><div class="bg-light"><div class="container-ribbon bg-light h-100"></div></div></div>
  <div class="line line-x line-left line-left-4 length-1 line-hidden" onclick="changePage('1')"><div class="bg-light"><div class="container-ribbon bg-light h-100"></div></div></div>
  <div class="line line-x line-left line-left-5 length-1 line-hidden" onclick="changePage('1')"><div class="bg-light"><div class="container-ribbon bg-light h-100"></div></div></div>
  <div class="line line-x line-right line-right-2 length-1 line-hidden" onclick="changePage('1')"><div class="bg-light"><div class="container-ribbon bg-light h-100"></div></div></div>
  <div class="line line-x line-right line-right-3 length-1 line-hidden" onclick="changePage('1')"><div class="bg-light"><div class="container-ribbon bg-light h-100"></div></div></div>
  <div class="line line-x line-right line-right-4 length-1 line-hidden" onclick="changePage('1')"><div class="bg-light"><div class="container-ribbon bg-light h-100"></div></div></div>
  <div class="line line-x line-right line-right-5 length-1 line-hidden" onclick="changePage('1')"><div class="bg-light"><div class="container-ribbon bg-light h-100"></div></div></div>
  <div class="line line-x line-right line-right-6 length-1 line-hidden" onclick="changePage('1')"><div class="bg-light"><div class="container-ribbon bg-light h-100"></div></div></div>
</article>